*{
    background-color: antiquewhite
}
.container{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

#rollBtn{
    font-size: 2em;
    padding: 20px 100px;
    background-color: brown;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

#rollBtn:hover{
    background-color: rgb(82, 5, 5);
}

.answerSection{
    display: flex;
    padding:  20px;
    margin: 20px;
    background-color: none;

}

.ans{
    margin: auto;
    padding: 40px 40px;
    font-size: 2.5em;
    background-color: rgb(250, 150, 150);
    border-radius: 5px;

}
.heading{
    text-align: center;

    border: 2px  solid black;
    border-radius: 20px;
    margin: 50px 0;

}
.headSec{
    font-size: 2.5em;
    margin: 20px;
}

@media only screen and (max-width: 725px) {
    #rollBtn{
        font-size: 1em;
        padding: 10px 50px;
        border-radius: 20px;
    }

  }